body {
  margin: 0;

  overflow: hidden;
}
canvas {
  display: block;
}
/* #three {
} */

.sidebar {
  z-index: 100;
  color: #eee;
  position: absolute;
  /* background-color: #fff1; */
  top: calc(50% - 120px);
  width: 150px;
  border-top-right-radius: 33px;
  border-bottom-right-radius: 33px;
  transition: ease 0.5s all;
  border-right: 2px solid #e33;
  /* padding: 3px 0; */
  padding-right: 25px;
}

.sidebar-list {
  list-style: none;
  /* border: 1px solid#7772; */
  text-align: left;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: #e33c;
  margin-top: 10px ;
  border: none;
  border-right: none;
  font-size: 17px;
  font-family: sans-serif;
  transition: ease 0.2s all;
}
.sidebar-list li:first-child {
  margin-top: 0;
}

.index {
  padding: 15px 5px 15px 10px;
}
.itemLabel {
  padding: 15px 10px;
  display: inline-block;
  width: 97px;
  border-left: 2px solid #000;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  transition: ease 0.2s all;
}

.itemLabel:hover {
  background-color: #eee;
  color: #be2828;
  cursor: pointer;
}

#sideToggle {
  position: absolute;
  top: calc(50% - 18px);
  right: -18px;
}

#bottomToggle {
  position: absolute;
  top: -18px;
  transform: rotate(-90deg);
  right: calc(50% - 12px);
}

.Toggle {
  color: #eee;
  border-radius: 50%;
  transition: ease 0.6s all;
  width: 35px;
  height: 35px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  border: none;
  /* background-color: #555; */
  background-color: #be2828;
  box-shadow: -2px 0px 10px #30060d;

  /* border: solid 1px #777; */
  padding-right: 7px;
  padding-top: 3px;
}

.Toggle:focus {
  outline: none;
}

.Toggle:hover {
  color: #be2828;
  cursor: pointer;
  background-color: #eee;
  box-shadow: -2px 0px 10px #30060d00;
}

.openSB {
  transform: translateX(-150px);
}
.openBB {
  transform: translateY(90%);
}

.bottombar {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: absolute;
  /* height: 60px; */
  font-size: 20px;
  width: 50%;
  left: 20%;
  background-color: #e33c;

  bottom: 0;
  color: #fff;
  padding: 30px 40px 20px;
  transition: ease 0.5s all;
}

.rotateSideToggle {
  transform: rotate(180deg) !important;
}

.rotateBottomToggle {
  transform: rotate(90deg) !important;
}
