body {
  margin: 0;

  overflow: hidden;
}
canvas {
  display: block;
}
#three {
}

.sidebar {
  z-index: 100;
  color: #fff;
  position: absolute;
  background-color: #fff8;
  top: calc(50% - 120px);
  /* height: 400px; */
  width: 200px;
  border: 1px solid #555;
  border-radius: 5px;
  /* padding: 20px; */
  /* padding: 10px; */
  transition: ease 0.3s all;
}

#toggle {
  color: #eee ;
  position: absolute;
  top: calc(50% - 12px) ;
  right: -13px;
  border-radius: 50%;
  transition: ease 0.3s all;
  width: 25px;
  height: 25px;
  text-align: center;
  font-weight: bold;
  font-size: 22;
  border: none;
  border-right: 1px solid #555;
  background-color: #888;
  /* border: solid 1px #777; */
  padding-right: 3px;
}

#toggle:focus {
  outline: none;
}

#toggle:hover {
  cursor: pointer;
  background-color: #aaa;
}

.sidebar-list {
  list-style: none;
  /* border: 1px solid#7772; */
  text-align: left;
  padding: 0;
  margin: 0;
}

.sidebar-list li {
  border: 1px solid #777;
  border-right: none;
  /* background-color: #fff0; */
  padding: 15px 20px;
  font-size: 19px;
  font-family: sans-serif;
  transition: ease 0.2s all;

}

.sidebar-list li:hover {
  background-color: #aaa;
  cursor: pointer;
}

.openSB {
  transform: translateX(-195px);
}
